*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    background: whitesmoke;
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.navbar{
    position: absolute;
    font-size: 4em;
    text-decoration:none;
    margin: 12px;
    z-index: 99;
}