*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    background: rgb(245, 245, 245);
    width: 100%;
    min-height: 100vh;
    position: relative;
    font-size: 18px;
}
.navbar{
    position: absolute;
    font-size: 4em;
    text-decoration:none;
    margin: 12px;
    z-index: 99;
}

@media screen and (max-width:500px){
    .app{
        font-size: 12px;
    }
}